<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>
        Welcome to your idea application, you are now logged in!
    </h3>
    
    {% for idea in ideas %}
    <div>
    {{ idea }} : {{idea.description}} 
    <div>

    {% endfor %}


    <a href='/idea_api/users/{{user.id}}/idea'>Got a new idea?</a>
    <a href="/idea_api/"></a>

    <a href="/idea_api/logout/"> Logout</button>
</body>
</html>

