{% extends "idea_api/base.html" %}


{% block main_ideas %}
    {% for idea in ideas %}
    <article class='idea_elem'>
    <span id="idea_description">{{ idea }} : {{idea.description}}</span>
        
        <div id="idea_actions">
            <span id="edit_idea"><a class='edit btn btn-primary' data-idea={{idea.id}}>Edit</a></span>
            <span id="delete_idea"><a class='delete btn btn-danger' data-idea={{idea.id}}>Delete</a></span>
        </div>
    
    </article>
    {% endfor %}

    <div id="general_options">
        <a href='/idea_api/users/{{user.id}}/idea' class='btn btn-success'>Got a new idea?</a>

        <a href="/idea_api/logout/" class='btn btn-dark'> Logout</a>
    </div>

        <script>
            const editIdeas = document.querySelectorAll('.edit')
            const deleteIdeas = document.querySelectorAll('.delete')

            
            editIdeas.forEach(el => el.addEventListener('click', event => {
                var url = 'http://127.0.0.1:8000/idea_api/users/{{user.id}}/idea/'+ event.target.getAttribute('data-idea') + '/'                
                window.location = url;
            }))

            deleteIdeas.forEach(el => el.addEventListener('click', event => {
                var url = 'http://127.0.0.1:8000/idea_api/users/{{user.id}}/idea/'+ event.target.getAttribute('data-idea')
                console.log('Trying to delete an idea')
                console.log(event.target.getAttribute('data-idea'))

                var xhr = new XMLHttpRequest();
                xhr.open('DELETE', url, true);
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                xhr.onload = function () {
                    if(xhr.status == '204') {
                        console.log('Successfully idea has deleted')
                        window.location = "http://127.0.0.1:8000/idea_api/users/{{user.id}}";
                    }
                    else {
                        console.log('error trying to delete an idea')
                    }
                }
                xhr.send()
            }))
        </script>
{% endblock %}